<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.user.stickies2obsidian</string>

  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>{{SCRIPT_PATH}}</string>
  </array>

  <key>EnvironmentVariables</key>
  <dict>
    <key>STICKIES_DIR</key>
    <string>{{STICKIES_DIR}}</string>
    <key>OBSIDIAN_FILE</key>
    <string>{{OBSIDIAN_FILE}}</string>
    <key>STATE_FILE</key>
    <string>{{STATE_FILE}}</string>
  </dict>

  <key>RunAtLoad</key>
  <true/>

  <key>StartInterval</key>
  <integer>300</integer>

  <key>StandardOutPath</key>
  <string>/tmp/stickies2obsidian.log</string>

  <key>StandardErrorPath</key>
  <string>/tmp/stickies2obsidian.err</string>
</dict>
</plist>
